form {
  margin-bottom: $margin-xxl-horizontal;
  margin-top: $margin-xxl-horizontal;

  .form-field {
    margin-bottom: $margin-lg-horizontal;
    margin-top: $margin-lg-vertical;

    input {
      height: $height-lg-vertical;
      width: 100%;
    }
  }

  select {
    background-color: $os-white;
    height: $height-lg-vertical;
    width: 100%;
  }

  button {
    align-items: center;
    border-color: $os-light-grey;
    display: flex;
    height: $height-lg-vertical;
    justify-content: center;
    margin-top: $margin-xl-horizontal;
    width: 100%;
  }
}
