form {
  border: $os-grey solid 1px;
  margin-top: $margin-xxxl-vertical;
  padding: $padding-xl-vertical;
  width: 100%;

  > .title {
    font-size: $font-size-large;
    font-weight: 500;
    margin-top: $margin-xl-vertical;
    text-align: center;
  }

  .form-field {
    margin-bottom: $margin-lg-horizontal;
    margin-top: $margin-lg-vertical;

    [class*='label'] {
      color: $os-light-grey;
      font-size: $font-size-small;
      margin-bottom: $margin-sm-horizontal;
    }

    input {
      @include shape(100%, $height-lg);

      border: 1px solid $os-light-grey;
      border-radius: $radius-sm;
    }
  }

  select {
    @include shape(100%, $height-lg);

    background-color: $os-white;
  }

  button {
    @include flex-center-layout;
    @include shape(100%, $height-lg);

    border-color: $os-light-grey;
    margin-top: $margin-xl-horizontal;

    span {
      font-size: $font-size-small;
    }
  }
}
