.os--home {
    .cover {
        margin-bottom: $margin-xl-vertical;
        position: relative;

        .section-list {
            bottom: 24px;
            left: 50%;
            position: absolute;
            text-align: center;
            transform: translate(-50%, -50%);
            width: 100%;

            button {
                background-color: transparent;
                border: $radius-sm solid $os-white;
                color: $os-white;
                cursor: pointer;
                font-size: $font-size-xl;
                margin: 0 $margin-md-horizontal;
                outline: none;
                padding: 0 $padding-md-horizontal;
                text-transform: uppercase;

                @media screen and (max-width: $small-screen-max-width) {
                    font-size: $font-size-md;
                    margin: 0;
                    padding: 0 $margin-sm-horizontal;
                }
            }
        }

        img {
            width: 100%;
        }
    }
}

