.os--nav-header {
  display: flex;
  justify-content: center;
  margin-bottom: $margin-lg-horizontal;
  margin-top: $margin-md-horizontal;

  button {
    color: $os-black;
    font-size: $font-size-lg;
    padding: 0 $padding-md-horizontal;

    @media screen and (max-width: $small-screen-max-width) {
      padding: 0 $padding-sm-horizontal;
    }
  }

  .dropdown-menu {
    margin-top: 0; // remove the gap so it doesn't close
  }
}
