@import '../variables';

.nav-header {
  display: flex;
  justify-content: center;

  .btn-group-nav-header {
    width: 100px;

    .dropdown-menu {
      margin-top: 0 !important; // remove the gap so it doesn't close
    }
  }
}
