.os--nav-header {
  display: flex;
  justify-content: center;
  margin-bottom: $margin-lg-horizontal;
  margin-top: $margin-md-horizontal;

  button {
    color: $os-black;
    font-size: $font-size-lg;
    width: 100px;
  }

  .dropdown-menu {
    margin-top: 0; // remove the gap so it doesn't close
  }
}
