.os--products {
  ul {
    list-style-type: none;

    li {
      margin-bottom: $margin-md-horizontal;

      a {
        color: inherit;
      }
    }
  }

  .product-list {
    .single-product {
      margin-bottom: $margin-lg-horizontal;
      text-align: center;

      img {
        cursor: pointer;
        width: 100%;
      }
    }
  }
}
