// Colors
$os-black: rgb(0, 0, 0);
$os-white: rgb(255, 255, 255);
$os-light-grey: rgb(166, 166, 166);
$os-grey: rgb(160, 158, 158);

// Font
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 24px;
$font-size-xl: 32px;
$font-size-xxl: 48px;

$font-weight-sm: 100;
$font-weight-md: 300;
$font-weight-lg: 600;
$font-weight-xl: 700;
$font-weight-xxl: 900;

// Padding
$padding-sm-horizontal: 10px;
$padding-md-horizontal: 20px;
$padding-lg-horizontal: 40px;
$padding-xl-horizontal: 60px;
$padding-xxl-horizontal: 80px;

$padding-sm-vertical: 10px;
$padding-md-vertical: 20px;
$padding-lg-vertical: 40px;
$padding-xl-vertical: 60px;
$padding-xxl-vertical: 80px;

// Margin
$margin-sm-horizontal: 10px;
$margin-md-horizontal: 20px;
$margin-lg-horizontal: 40px;
$margin-xl-horizontal: 60px;
$margin-xxl-horizontal: 80px;

$margin-sm-vertical: 10px;
$margin-md-vertical: 20px;
$margin-lg-vertical: 40px;
$margin-xl-vertical: 60px;
$margin-xxl-vertical: 80px;

// Height
$height-sm: 15px;
$height-md: 30px;
$height-lg: 45px;
$height-xl: 60px;

// Radius
$radius-sm: 1px;
$radius-md: 2px;
$radius-lg: 5px;
$radius-xl: 10px;

$small-screen-max-width: 640px;
