// Colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$light-grey: rgb(166, 166, 166);

// Font
$font-xsmall: 12px;
$font-small: 16px;
$font-medium: 24px;
$font-large: 32px;
$font-xlarge: 48px;
$font-xxlarge: 64px;

// Padding
$padding-xsmall: 5px;
$padding-small: 10px;
$padding-medium: 15px;
$padding-large: 20px;
$padding-xlarge: 25px;
$padding-xxlarge: 30px;
$padding-xxxlarge: 35px;

// Margin
$margin-xsmall: 5px;
$margin-small: 10px;
$margin-medium: 15px;
$margin-large: 20px;
$margin-xlarge: 25px;
$margin-xxlarge: 30px;
$margin-xxxlarge: 35px;

$margin-form: 80px;

$standard-form-element-height: 36px
