// Colors
$os-black: rgb(0, 0, 0);
$os-white: rgb(255, 255, 255);
$os-light-grey: rgb(166, 166, 166);
$os-grey: rgb(160, 158, 158);

// Font
$font-size-xsmall: 12px;
$font-size-small: 16px;
$font-size-medium: 24px;
$font-size-large: 32px;
$font-size-xlarge: 48px;
$font-size-xxlarge: 64px;

// Padding
$padding-sm-horizontal: 10px;
$padding-lg-horizontal: 20px;
$padding-xl-horizontal: 40px;
$padding-xxl-horizontal: 60px;
$padding-xxxl-horizontal: 80px;

$padding-sm-vertical: 10px;
$padding-lg-vertical: 20px;
$padding-xl-vertical: 40px;
$padding-xxl-vertical: 60px;
$padding-xxxl-vertical: 80px;

// Margin
$margin-sm-horizontal: 10px;
$margin-lg-horizontal: 20px;
$margin-xl-horizontal: 40px;
$margin-xxl-horizontal: 60px;
$margin-xxxl-horizontal: 80px;

$margin-sm-vertical: 10px;
$margin-lg-vertical: 20px;
$margin-xl-vertical: 40px;
$margin-xxl-vertical: 60px;
$margin-xxxl-vertical: 80px;

// Height
$height-sm: 15px;
$height-md: 30px;
$height-lg: 45px;
$height-xl: 60px;

// Radius
$radius-xs: 1px;
$radius-sm: 2px;
$radius-md: 5px;
$radius-lg: 10px;
